@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #00f5cc;
    /* Background 1 */
    --foreground: #009476;
    /* Text Colors */
    --card: #19212C;
    /* Background 2 */
    --card-foreground: #C8CFD8;
    /* Text Colors */
    --popover: #19212C;
    /* Background 2 */
    --popover-foreground: #C8CFD8;
    /* Text Colors */
    --primary: #854CE6;
    /* Primary Color */
    --primary-foreground: #F2F5F7;
    /* Text Colors */
    --secondary: #575C66;
    /* Secondary Text Color */
    --secondary-foreground: #F2F5F7;
    /* Text Colors */
    --muted: #19212C;
    /* Background 2 */
    --muted-foreground: #626970;
    /* Muted Text Color */
    --accent: #19212C;
    /* Background 2 */
    --accent-foreground: #F2F5F7;
    /* Text Colors */
    --destructive: #FF0080;
    /* Destructive Color */
    --destructive-foreground: #F2F5F7;
    /* Text Colors */
    --border: #575C66;
    /* Border Color */
    --input: #575C66;
    /* Input Border Color */
    --ring: #854CE6;
    /* Ring Color */
    --radius: 0.5rem;
    /* Border Radius */
  }

  .dark {
    --background: #00012B;
    /* Footer Background */
    --foreground: #F2F5F7;
    /* Text Colors */
    --card: #19212C;
    /* Background 2 */
    --card-foreground: #F2F5F7;
    /* Text Colors */
    --popover: #00012B;
    /* Footer Background */
    --popover-foreground: #F2F5F7;
    /* Text Colors */
    --primary: #854CE6;
    /* Primary Color */
    --primary-foreground: #F2F5F7;
    /* Text Colors */
    --secondary: #575C66;
    /* Secondary Text Color */
    --secondary-foreground: #F2F5F7;
    /* Text Colors */
    --muted: #00012B;
    /* Footer Background */
    --muted-foreground: #626970;
    /* Muted Text Color */
    --accent: #00012B;
    /* Footer Background */
    --accent-foreground: #F2F5F7;
    /* Text Colors */
    --destructive: #FF0080;
    /* Destructive Color */
    --destructive-foreground: #F2F5F7;
    /* Text Colors */
    --border: #575C66;
    /* Border Color */
    --input: #575C66;
    /* Input Border Color */
    --ring: #854CE6;
    /* Ring Color */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

@keyframes scrolldown {
  0% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }

  50% {
    transform: translateY(0%) rotate(45deg);
    opacity: 0.2;
  }

  100% {
    transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
}